<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="com.appexchangechannel.appexchangesdk.AppExchangeChannelPlugin" version="0.0.9">
	<name>AppExchangeChannelPlugin</name>
	<description>A Cordova plugin for using the AppExchangeChannel SDK from a Cordova or Phonegap app.</description>
	<license>Apache 2.0</license>
	<keywords>cordova,appexchangechannel,sdk,android</keywords>
    <js-module src="www/AppExchangeChannelPlugin.js" name="AppExchangeChannelPlugin">
        <clobbers target="appexchangechannel" />
    </js-module>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AppExchangeChannelPlugin">
				<param name="android-package" value="com.appexchangechannel.appexchangesdk.AppExchangeChannelPlugin" />
			</feature>
		</config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:exported="true"
                android:theme="@android:style/Theme.NoTitleBar"
                android:name="com.appexchangechannel.appexchangesdk.AppInterstitial"
                android:label="AppExchangeChannel" />
            <receiver android:name="com.appexchangechannel.appexchangesdk.ReferrerReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER" />
                </intent-filter>
            </receiver>
        </config-file>
		<source-file src="src/android/com/appexchangechannel/appexchangesdk/AppExchange.java" target-dir="src/com/appexchangechannel/appexchangesdk/cordovaplugin" />
		<source-file src="src/android/com/appexchangechannel/appexchangesdk/AppExchangeChannelPlugin.java" target-dir="src/com/appexchangechannel/appexchangesdk/cordovaplugin" />
		<source-file src="src/android/com/appexchangechannel/appexchangesdk/AppInterstitial.java" target-dir="src/com/appexchangechannel/appexchangesdk/cordovaplugin" />
		<source-file src="src/android/com/appexchangechannel/appexchangesdk/AppSlider.java" target-dir="src/com/appexchangechannel/appexchangesdk/cordovaplugin" />
		<source-file src="src/android/com/appexchangechannel/appexchangesdk/ExchangeAPI.java" target-dir="src/com/appexchangechannel/appexchangesdk/cordovaplugin" />
		<source-file src="src/android/com/appexchangechannel/appexchangesdk/ReferrerReceiver.java" target-dir="src/com/appexchangechannel/appexchangesdk/cordovaplugin" />
		<source-file src="src/android/com/appexchangechannel/appexchangesdk/Tools.java" target-dir="src/com/appexchangechannel/appexchangesdk/cordovaplugin" />
        
        <resource-file src="src/android/res/anim/fadein.xml" target="res/anim/fadein.xml" />
        <resource-file src="src/android/res/drawable/apps_back.xml" target="res/drawable/apps_back.xml" />
        <resource-file src="src/android/res/drawable/header_gradiant.xml" target="res/drawable/header_gradiant.xml" />
        <resource-file src="src/android/res/drawable/item_gradient.xml" target="res/drawable/item_gradient.xml" />
        <resource-file src="src/android/res/drawable/small_round_button.xml" target="res/drawable/small_round_button.xml" />
        <resource-file src="src/android/res/drawable-hdpi/ic_appex.png" target="res/drawable-hdpi/ic_appex.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_appex.png" target="res/drawable-mdpi/ic_appex.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_appex.png" target="res/drawable-xhdpi/ic_appex.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_appex.png" target="res/drawable-xxhdpi/ic_appex.png" />
        <resource-file src="src/android/res/layout/appitem_icon.xml" target="res/layout/appitem_icon.xml" />
        <resource-file src="src/android/res/layout/appitem_list.xml" target="res/layout/appitem_list.xml" />
        <resource-file src="src/android/res/layout/apps_layout.xml" target="res/layout/apps_layout.xml" />
        <resource-file src="src/android/res/layout/interstitial_layout.xml" target="res/layout/interstitial_layout.xml" />
        
	</platform>
</plugin>
